/*************************************************************/
/*                   CER Client CSS Document                 */
/*                                                           */
/*************************************************************/

body {
    margin: 11px 11px 11px 11px;
    color: #000000;
    background-color: #ffffff;
    font-family: Arial,Helvetica,Verdana,Geneva,sans-serif;
    font-size: 12px;
}

p { margin: 0px 0px 11px 0px; }


.banner-title {
	font: Arial;
	font-size: 18px;
	color: #FFFFFF;
	height: 24px;
	vertical-align: middle;
	padding-top: 3px;
}

.disclamer {
	font-size: 9px;
	line-height: 12px;
	text-decoration: none;
	text-align: left;
}

.warning {
	color: #666666;
}


td {
    text-align : left;
    vertical-align: top;
    color: #000000;
    font-size: 12px;
    line-height: 15px;
}


td.banner-frame {
	border-bottom: solid 1px #999999;
	border-left: solid 1px #999999;
	border-right: solid 1px #999999;
	height: 42px;
	vertical-align: middle;
	background-color: #00AADD;
}

td.frame-border {
    border-bottom: solid 1px #999999;
    border-left: solid 1px #999999;
    border-right: solid 1px #999999;
}/* outline borders */

td.frame-borders {
    border: solid 1px #999999;
	height: 84px;
	vertical-align: top;
}/* outline all borders */

td.header {
	text-align : right;
	vertical-align: bottom;
 	padding: 0px 20px 11px 0px;
    font-size: 12px;
	font-weight: bold;
}

td.maincol {
	width: 85%;
	padding: 20px 20px 20px 0px;
}


/* Footer Styles */

td.footer {
	height: 58px;
	text-align : left;
	vertical-align: bottom;
	padding: 0px 20px 11px 0px;
	color: #666666;
    font-size: 11px;
	text-decoration: none;
}
.footer {
    color: #000000;
    font-size: 11px;
	text-decoration: none;
}
a.footer, a.footer:visited {
    color: #0066CC;
}
a.footer:hover {
	text-decoration: underline;
}
