/* Default style for links 
*  a:active  { color: #0000CC}
*  a:hover   { color: #CC0033}
*  a:link    { color: #3366CC}
*  a:visited { color: #9999CC}
*/

a:active  { color: #0000CC}
a:link    { color: #0066CC}
a:hover   { color: #FF0000}
a:visited { color: #666666}


/* Default style */
body
{
  background-color: #FFFFFF;
}

/* Use this style for footnote numbers */
sup.Footnote
{
}
